				<!-- Footer -->
        <section id="footer" class="wrapper">
          <div class="inner">
            <div class="split">
              <div class="content">
                <header>
                  <h2>About</h2>
                </header>
                <p>This project became out of frustration with existing system of searching for jobs, not being able to find good matches, only to find them after I commit to something else. There is much more then this, but this was initial spark. We want to create great place for people to find business connections in a way that would be acceptable for them, respecting privacy and choice.</p>
                <ul class="actions">
                  <li><a href="#" class="button next">Full Story</a></li>
                  <li><a href="#" class="button next">Team</a></li>

                </ul>
              </div>
              <ul class="contact-icons">
                <li><a href="https://twitter.com/hire_me_easy" class="icon brands alt fa-twitter"><span class="label">twitter.com/hire_me_easy</span></a></li>
                <li><a href="https://facebook.com/hiremeeas" class="icon brands alt fa-facebook-f"><span class="label">facebook.com/hiremeeasy</span></a></li>
                <!-- <li><a href="#" class="icon brands alt fa-instagram"><span class="label">instagram.com/hiremeeasy</span></a></li> -->
                <li><a href="mailto:zeljko@gmail.com" class="icon solid alt fa-envelope"><span class="label">zeljko@gmail.com</span></a></li>
              </ul>
            </div>
          </div>
        </section>