<!DOCTYPE html>
<!--
	Standout by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license
-->
<html>
  <head>
    <title>Hire Me Easy :: {{ title }}</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no"
    />
    <link rel="stylesheet" href="/assets/css/main.css" />
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-150746851-1"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "UA-150746851-1");
    </script>
  </head>

  <body class="is-preload">
    <!-- Page wrapper -->
    <div id="page-wrapper">
      <!-- Header -->
      <header id="header">
        <span class="logo"><a href="/">Hire Me Easy</a></span>
        <a href="#menu"><span>Menu</span></a>
      </header>

      <!-- Nav -->
      <nav id="menu">
        <div class="inner">
          <h2>Menu</h2>
          <ul class="links">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
          </ul>
          <a class="close"><span>Close</span></a>
        </div>
      </nav>

      <!-- Main -->
      <section id="main" class="wrapper style2">
        <div class="inner">
          <header class="major special">
            <h1>{{ title }}</h1>
            {{ content | safe }}
          </header>
        </div>
      </section>

      <!-- Footer -->
      <section id="footer" class="wrapper">
        <div class="inner">
          <div class="split">
            <div class="content">
              <header>
                <h2>About</h2>
              </header>
              <p>
                This project became out of frustration with existing system of
                searching for jobs, not being able to find good matches, only to
                find them after I commit to something else. There is much more
                then this, but this was initial spark. We want to create great
                place for people to find business connections in a way that
                would be acceptable for them, respecting privacy and choice.
              </p>
              <ul class="actions">
                <li><a href="/about" class="button next">Team</a></li>
              </ul>
            </div>
            <ul class="contact-icons">
              <li>
                <a
                  href="https://twitter.com/hire_me_easy"
                  class="icon brands alt fa-twitter"
                  ><span class="label">twitter.com/hire_me_easy</span></a
                >
              </li>
              <li>
                <a
                  href="https://facebook.com/hiremeeas"
                  class="icon brands alt fa-facebook-f"
                  ><span class="label">facebook.com/hiremeeasy</span></a
                >
              </li>
              <!-- <li><a href="#" class="icon brands alt fa-instagram"><span class="label">instagram.com/hiremeeasy</span></a></li> -->
              <li>
                <a
                  href="mailto:zeljko@gmail.com"
                  class="icon solid alt fa-envelope"
                  ><span class="label">zeljko@gmail.com</span></a
                >
              </li>
            </ul>
          </div>
        </div>
      </section>

      <!-- Copyright -->
      <section class="wrapper style2 copyright">
        <div class="inner">
          &copy; 2019 Dakic OnLine LLC. All rights reserved. Hire Me Easy is a
          product of Dakic OnLine LLC.
        </div>
      </section>
    </div>

    <!-- Scripts -->
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/jquery.scrollex.min.js"></script>
    <script src="/assets/js/jquery.scrolly.min.js"></script>
    <script src="/assets/js/browser.min.js"></script>
    <script src="/assets/js/breakpoints.min.js"></script>
    <script src="/assets/js/util.js"></script>
    <script src="/assets/js/main.js"></script>
    <!-- Default Statcounter code for Hiremeeasy.com
https://hiremeeasy.com/ -->
    <script type="text/javascript">
      var sc_project = 12207524;
      var sc_invisible = 1;
      var sc_security = "0594f61d";
    </script>
    <script
      type="text/javascript"
      src="https://www.statcounter.com/counter/counter.js"
      async
    ></script>
    <noscript
      ><div class="statcounter">
        <a
          title="Web Analytics
	Made Easy - StatCounter"
          href="https://statcounter.com/"
          target="_blank"
          ><img
            class="statcounter"
            src="https://c.statcounter.com/12207524/0/0594f61d/1/"
            alt="Web Analytics Made Easy -
	StatCounter"
        /></a></div
    ></noscript>
    <!-- End of Statcounter Code -->
  </body>
</html>
